*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body{
	font-family: arial;
	background-color: #e6eded;
	width: 100%;
	height: auto;
}
.kuang1{
	top: 0;
	position: fixed;
	background-color: #32553F;
	height: 3.5rem;
	width: 100%;
	background-image: url(../img/MammalWebSquareRecGreenLarge.png);
	background-repeat: no-repeat;
	background-position: 18%;
	background-size: 10rem;
	font-size: 0.875rem;
}
.kuang1 ul{
	list-style: none;
	padding-left: 25.5%;
}
.kuang1 ul li{
	margin-left: 2.5rem;
	padding-top: 1.47%;
	margin: center;
	float: left;
	display: inline;
}
.kuang1 a:link,.kuang1 a:visited{
	text-decoration: none;
	color: #B3D3B7;
}
.kuang1 a:hover,.kuang1 a:active{
	color: #00AF68;
	}
.kuang2{
	margin-top: 8%;
	background-color: #e6eded;

}
/* .kuang2 ul{ */
	/* list-style: none; */
/* } */
.kuang2 ul li{
	font-size: 1.2rem;
	margin-left: 3%;
	background-color: #3fbf86;
	color: azure;
	display: inline-block;
}
.kuang2 a:link,.kuang2 a:visited{
	text-decoration: none;
	color: #e2f5f2;
}
.kuang2 a:hover,.kuang2 a:active {
	text-decoration: none;
	color: #bed396;
	}
.da{
	margin-top: 3%;
	width: 100%;
	display: inline-block;
}